

@mixin tag-style($name, $color) {
  color: $color;
  $fallbackground: map-get($variant-colors, $name);
  background-color: if($fallbackground != null, lighten($fallbackground, 40%), lighten($color, 10%));
}

@mixin box-style {

box-shadow:  $table-shadow;
background-color: $table-bg ;
}

@mixin button-style ($name, $color) {
  
  $fallback: map-get($variant-colors, $name);
 
  color: if($fallback != null, darken($fallback, 0%), $bs-border);
  
 

  i {
    color: inherit;
  }


}
