


.badge {
  @include badge-base-style;

  @each $name, $color in $variants {
    &.#{$name} {
      background: $color;
      color: if($name == light or $name == default, var(--text-color), white);

      i {
        color: inherit;
      }
    }
  }

  &.outline {
    background: transparent;
    border: 1px solid currentColor;

    @each $name, $color in $variants {
      &.#{$name} {
        color: $color;
        border-color: $color;

        i {
          color: $color;
        }
      }
    }
  }
}
