  .progress {
    height: 5px;
    overflow: inherit;
    background-color: var(--card-color);
    .progress-bar {
      height: 100%;
      position: relative;
      overflow: inherit;
      .tag {
            width: auto;
            height: auto;
            position: absolute;
            z-index: 999;
            right: -5px;
            top: -10px;
            opacity: 0.9;
            transition: 0.4s;
            
          }
      @each $name, $color in $variants {
        &.#{$name} {
          @include tag-style($name, $color);
          .tag {
        
            @include tag-style($name, $color);
          }
        }
      }
    }

  }