// main.scss

@import './variables';
@import'./responsive';
@import './colors';
@import './mixins';
@import './badge';
@import './tag';
@import './form';
@import './statistic-card';
@import './user_db';
@import './card';
@import './progress-bar';
.no-bg {
  border: none;
  background:none;
}


table {
    width: 100%;
    color: var(--text-color);
    background: none;

    .key {
        display: none;
    }

    th {
        font-size: $font-size-small;
        font-weight: normal;
        color: var(--muted-text-color);
        padding: $spacing-sm 0;

        i {
            opacity: 0;
        }

        &:hover {
            i {
                opacity: 9;
            }
        }
    }

    thead {

        border-bottom: var(--bs-border-width) var(--bs-border-color);
        text-transform: capitalize;

    }

    tbody {
        max-height: 200px;
        overflow-y: scroll;
    }

    tr {

        border-bottom: var(--bs-border-width) var(--bs-border-color);
        position: relative;

        .mobile-btn {
            display: none;
            position: absolute;
            right: 0;
            top: 18px;

            .btn {
                border: none !important;
                background: none;

                i {
                    color: var(--muted-text-color);
                }
            }
        }

        td {
            padding: $spacing-sm 0;
            font-size: $font-size-small;

        }

        &:last-child {
            border: none;
        }
    }

}

table.responsive {



    @media (max-width: 992px) {
        tr {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .key {
            display: block;
        }

        thead {
            display: none;
        }

        tbody {
            tr {
                max-height: 80px;
                overflow: hidden;

                td {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    &:first-child {
                        min-height: 80px;

                    }
                }


                .mobile-btn {
                    display: flex;

                }
            }

            tr.dynamic-row {
                max-height: inherit;
                display: inline;
            }
        }
    }
}

.progress {
    display: inherit;
}

